html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --score-color: #ffffff;
    --primary-bg: #000;
    --surface-bg: #121212;
    --paddle-bg: #bb86fc;
    --score-bg: #FF7597;
    --ball-bg: #03dac6;
    --label-color: #00B0FF;
    
    
    --checked-color: #ffffff; 
    --mode-check-bg: #00B0FF;
    --shadow: 0px 0px 2px #121212;
    --light-surface-color:#1F1B24;
    --checked-bg: #121212; 
    /* --score-bg: #cf6679; */
  }

body {
  display: grid;
  grid-template-columns: 20px auto 20px;
  grid-template-rows: 20px calc(100vh - 80px) 20px;
  background-color: var(--primary-bg);
  overflow: hidden;
}

.container {
  grid-column: 2/3;
  grid-row: 2/3;
}

.score-container {
  color: var(--score-color);
  padding: 0.5rem 1rem;
  background-color: var(--score-bg);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  display:flex;
  justify-content: space-between;
  align-items: center;
  border:3px solid var(--border-color);
  box-shadow: var(--shadow);
  border-bottom: none;
}
.score-container #score {
  font-family:Arial, Helvetica, sans-serif;
  word-spacing: 2px;
  font-weight: 400;
  font-size: 1.3rem;
}
.icon {
  position:relative;
}
.fa-gear {
  font-size: 1.2rem;
  cursor: pointer;
}
.rotate-animation {
  animation: rotatation 2s 0.9s infinite linear;
}
@keyframes rotatation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.setting {
  width:200px;
  max-height: 500px;
  position: absolute;
  top:calc(1rem + 1.2rem + 1rem);
  right:0.5rem;
  background-color: var(--score-bg);
  z-index: 10;
  padding:0.5rem;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  transform: translateY(-30rem) translateX(-50rem);
  box-shadow: var(--shadow);
}
.setting-none {
  animation: clear 0.8s 0.1s forwards;
}

@keyframes clear {
  to {
    transform: none;
    opacity: 1;
  }
}
.box-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:1rem 0;
}

input[type="checkbox"] {
  position: relative;
  background-color: #ffffff;
  -webkit-appearance: none;
  width:50px;
  height: 25px;
  border-radius: 15px;
  box-shadow: inset 0px 0px 5px var(--surface-bg);
  transition: background-color 0.5s ease-in-out;
  box-shadow: var(--shadow);
}
input[type="checkbox"]:checked {
  background-color: var(--mode-check-bg);
}
input[type="checkbox"]::before {
  content: " ";
  position:absolute;
  top:0;
  left:0;
  width:25px;
  height:25px;
  border-radius: calc(25px / 2);
  background-color: var(--checked-bg);
  transition: left 0.5s ease-in-out;
  transform: scale(1.1);
  box-shadow: var(--shadow);
    
  }
  input[type="checkbox"]:checked::before {
    left:calc(100% - 25px);
    background-color: var(--checked-bg);
  }
  
  input[type="checkbox"]::after {
    content: " ";
    width: 4px;
    height: 4px;
    position: absolute;
    top: calc(50% - 2px);
    left: calc(25px / 2 - 2px);
    border-radius: 2px;
    z-index: 2;
    background-color: #ffffff;
    transition: left 0.5s ease-in-out;
  }
  input[type="checkbox"]:checked::after {
    left: calc(100% - 25px / 2 - 2px);
    background-color: var(--mode-check-bg);
  }
  
  
  
  input[type="radio"] {
    display:none;
  }
  input[type="radio"] + label {
    background-color: var(--label-color);
    width:100%;
    text-align: center;
    padding:0.5rem;
    border-radius: 5px;
    box-shadow: var(--shadow);
  }
  input[type="radio"] + label:hover {
    /* background-color: var(--light-surface-color); */
    opacity: 0.8;
  }
  input[type="radio"]:checked + label {
    background-color: var(--checked-bg);
    color: var(--checked-color);
  }
  
  .box-container button {
    width: 100px;
    margin: 0 auto;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: var(--label-color);
    color: var(--score-color);
    font-size:1rem;
    border:none;
    transition: background-color 0.3s ease-in-out;
    box-shadow: var(--shadow);
    
  }
  .box-container button:hover {
    background-color: var(--checked-bg);
    color: var(--checked-color);
  }
  #main-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    background-color: var(--surface-bg);
    box-shadow: var(--shadow);
    border-top:none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  
  #ball {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: var(--ball-bg);
    margin: 0;
    padding: 0;
  }
  
  .ball-active {
    box-shadow: 0px 0px 25px var(--ball-bg), 0px 0px 50px var(--ball-bg),
    0px 0px 75px var(--ball-bg), 0px 0px 100px var(--ball-bg);
  }
  
  #paddle {
    position: absolute;
    bottom: 0;
    left: 0;
    /* width: 100px; */
    height: 20px;
    background-color: var(--paddle-bg);
    border-top: 3px solid var(--ball-bg);
    box-shadow: var(--shadow);
  }
  
  
  @media screen and (max-width: 500px) {
    .score-container #score {
      font-size:1rem;
    }
    .fa-gear {
      font-size: 1rem;
    }
  }
  

  .swal-modal {
    background-color: var(--score-bg);
  }
  .swal-modal div {
    color: var(--score-color);
    font-family: Arial, Helvetica, sans-serif;
  }

@media screen and (max-width: 700px) {
   body {
     grid-template-rows: 20px 600px 20px; 
   }
}
